// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Calibri, Arial, sans-serif;
    // color: rgb(226, 226, 226);
    color: #484b4c;
    // background: #111;
    background: #efe9e9;
    font-size: 22px;
    font-weight: 300;
}

a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 0 5px;
    text-transform: uppercase;
    font-size: 80%;
}

a:hover {
    color: #fff;
}

.container {
    height: 100%;
    width: 80vw;
    margin: 16px auto;
    display: block;
    text-align: center;
    position: relative;

    @media screen and (max-width:766px) {
        width: 100%;
    }
}

.bl-main {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    @media screen and (max-width:766px) {
        width: 100%;
        transform: initial;
        left: initial;
        top: initial;
    }
}

.helper-section {
    background: #efe9e9 !important;

    .bl-box {
        cursor: initial !important;
    }


}

.bl-main>section,
.helper-section {
    position: absolute;
    width: calc(50% - 24px);
    background: #fff;
    height: calc(50% - 36px);

    @media screen and (max-width:766px) {
        // width: 100%;
        width: calc(50% - 12px);
        background: #fff;
        height: calc(50% - 12px);
    }

    // border: 2px solid #ccc;
}

.bl-main>section:first-child {
    top: 0;
    left: 0;
    // background: #222;
    // border-left: 2px solid #ccc;
    // border-top: 2px solid #ccc;
    // border-bottom: 2px solid #ccc;
}

.bl-main>section:nth-child(2) {
    top: 0;
    left: 50%;
    // background: #302f2f;
    // background: #fff;
    // border-left: 2px solid #ccc;
    // border-right: 2px solid #ccc;
    // border-top: 2px solid #ccc;
    // border-bottom: 2px solid #ccc;
}

.bl-main>section:nth-child(3) {
    top: 50%;
    left: 0;
    // background: #302f2f;
    // border-left: 2px solid #ccc;
    // border-bottom: 2px solid #ccc;
}

.bl-main>section:nth-child(4) {
    top: 50%;
    left: 50%;
    // background: #222;
    // border-left: 2px solid #ccc;
    // border-right: 2px solid #ccc;
    // border-bottom: 2px solid #ccc;
}

.bl-box {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 1;
    /* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    .image {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .wrapper {
        display: flex;

        @media screen and (max-width:766px) {
            display: block;
        }
    }

    .wrapper .static-txt {
        font-size: 22px;
        // font-weight: 700;
        padding: 54px 0px;
        position: relative;
        font-family: 'Montserrat';

        @media screen and (max-width:766px) {
            padding: 0 24px;
            text-align: left;
        }
    }

    .wrapper .dynamic-txts {
        margin-left: 0;
        height: 90px;
        padding-left: 8px;
        line-height: 90px;
        overflow: hidden;

        @media screen and (max-width:766px) {
            padding: 0;
            height: 82px;
            padding-left: 8px;
            margin: 0;

        }
    }

    .dynamic-txts li {
        list-style: none;
        color: #daa520;
        font-size: 40px;
        font-family: "Montserrat";
        font-weight: 700;
        text-align: left;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;

        @media screen and (max-width:766px) {
            font-size: 34px;
            left: 16px;
        }
    }

    @keyframes slide {
        100% {
            top: -360px;
        }
    }

    .dynamic-txts li span {
        position: relative;
        margin: 5px 0;
        line-height: 90px;
    }

    .dynamic-txts li span::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #efe9e9;
        border-left: 2px solid #daa520;
        animation: typing 3s steps(10) infinite;
    }

    @keyframes typing {

        40%,
        60% {
            left: calc(100% + 30px);
        }

        100% {
            left: 0;
        }
    }
}

.bl-box h2 {
    text-align: center;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 1.8em;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (max-width:766px) {
        font-size: 21px;
    }
}

.bl-icon {
    font-family: 'Montserrat';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;

}

.bl-icon:before {
    display: block;
    font-size: 2em;
    margin-bottom: 10px;
}

.credit {
    padding: 32px 0;
    border-top: 5px solid #fbcc56;
    // background: #c3c4c5;
    // background: #3a2c11;
    background: #30250e;
    text-align: center;
    margin: 0 auto;
    display: block;

    .wrapings {
        display: block;
        width: 50%;
        margin: 0 auto 4px;

        @media screen and (max-width:766px) {
            width: 100%;
        }
    }

    // #c6c4c4
    .name,
    .jobdesc {
        color: #fff;
        display: inline-block;
        vertical-align: top;

        @media screen and (max-width: 766px) {
            font-size: 14px;
        }
    }

    .name {
        text-align: left;
        width: 45%;
        font-size: 18px;
        vertical-align: middle;

        @media screen and (max-width:766px) {
            font-size: 16px;
        }
    }

    .jobdesc {
        text-align: right;
        width: 45%;
        font-size: 15px;
        margin-right: 16px;
        vertical-align: middle;

        @media screen and (max-width:766px) {
            font-size: 14px;
        }
    }
}


.bl-main>section .bl-icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    font-family: 'FontAwesome';

    @media screen and (max-width:766px) {
        top: 10px;
    }
}

.bl-icon-close:before {
    content: "\f00d";
}

.bl-content,
div.bl-panel-items>div>div {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width:766px) {
        left: 0px;
        right: 30px;
        text-align: left;
    }
}

/* Custom content */
.bl-content {
    .comic {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Comic Neue', cursive;
        padding: 1vmin;
    }

    .panel {
        background-color: #fff;
        border: solid 2px #000;
        box-shadow: 0 6px 6px -6px #000;
        display: inline-block;
        flex: 1 1;
        height: 320px;
        margin: 1vmin;
        overflow: hidden;
        position: relative;

        &__img {
            position: absolute;
            right: 16px;
            // top: 0;
            bottom: 0;
            width: 230px;
            height: 230px;
            z-index: 2;

            &.lefts {
                right: initial;
                left: 24px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .text {
        background-color: #fff;
        border: solid 2px #000;
        margin: 0;
        color: #111;
        font-weight: 700;
        padding: 3px 10px;
    }

    .top-left {
        left: -6px;
        position: absolute;
        top: -2px;
        transform: skew(-15deg);
    }

    .bottom-right {
        bottom: -2px;
        z-index: 9;
        position: absolute;
        right: -6px;
        transform: skew(-15deg);
    }

    .speech {
        background-color: #fff;
        border: solid 2px #000;
        border-radius: 12px;
        display: inline-block;
        color: #111;
        font-weight: 700;
        margin: .5em;
        padding: .5em 1em;
        position: relative;

        &.kekanan {

            &:before,
            &:after {
                transform: skew(50deg);
            }

            &::before {
                left: 27px;
            }
        }

        &.satu {
            position: absolute;
            right: 32px;
            width: 50%;

            @media screen and (max-width:766px) {
                top: 0;
                width: 80%;
                right: 0px;
            }
        }
    }

    .speech:before {
        border: solid 12px transparent;
        border-left: solid 12px #000;
        border-top: solid 12px #000;
        bottom: -24px;
        content: "";
        height: 0;
        left: 24px;
        position: absolute;
        transform: skew(-15deg);
        width: 0;
    }

    .speech:after {
        border: solid 10px transparent;
        border-left: solid 10px #fff;
        border-top: solid 10px #fff;
        bottom: -19px;
        content: "";
        height: 0;
        left: 27px;
        position: absolute;
        transform: skew(-15deg);
        width: 0;
    }

    .panel:nth-child(1) {
        flex-basis: 400px;
    }

    .panel:nth-child(2) {
        flex-basis: 300px;
    }

    .panel:nth-child(3) {
        flex-basis: 255px;
    }

    .panel:nth-child(4) {
        flex-basis: 200px;
    }

    .panel:nth-child(5) {
        flex-basis: 200px;
    }

    .panel:nth-child(6) {
        flex-basis: 200px;
    }

    .panel:nth-child(7) {
        flex-basis: 400px;
    }

    .panel:nth-child(8) {
        flex-basis: 200px;
    }

    .panel:nth-child(9) {
        flex-basis: 200px;
    }

    /* background colours */

    .panel:nth-child(4n+1) {
        background-image: radial-gradient(circle, yellow, orange);
    }

    .panel:nth-child(4n+2) {
        // background-image: radial-gradient(circle, lightblue, deepskyblue);
        background-image: radial-gradient(circle, #ccc, #fafafa);
    }

    .panel:nth-child(4n+3) {
        background-image: radial-gradient(circle, palegreen, yellowgreen);
    }

    .panel:nth-child(4n+4) {
        background-image: radial-gradient(circle, lightcoral, tomato);
    }
}

.bl-content p {
    margin: 0 auto;
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
}

.bl-content h2 {
    font-size: 3em;
    font-weight: 300;
    margin: 0 0 20px 0;
    font-family: 'Bubblegum Sans', serif;
}

.bl-content article {
    padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding-top: 20px;
    font-size: 1.4em;
}

.bl-content article a {
    color: rgba(0, 0, 0, 0.2);
}

.bl-content>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bl-content>ul li {
    display: inline-block;
    width: 20%;
    margin: 1%;
}

.bl-content>ul li a {
    display: block;
    padding: 0;
    border: 8px solid rgba(0, 0, 0, 0.1);
}

.bl-content>ul li a img {
    display: block;
    max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items>div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

div.bl-panel-items>div>div {
    width: 60%;
    margin: 0 auto;
    opacity: 1;
    bottom: 90px;
    top: 90px;
    pointer-events: auto;
}

div.bl-panel-items>div>div h3 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0 0 20px 0;
}

div.bl-panel-items>div>div p {
    font-size: 1.3em;
}

div.bl-panel-items>div>div img {
    float: left;
    margin: 0 20px 20px 0;
    max-width: 100%;
}

div.bl-panel-items {
    top: 100%;
    z-index: 9999;
}

div.bl-panel-items>div {
    background: #3ba5db;
    z-index: 0;
    opacity: 0;
    -webkit-transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
    -moz-transform: translateY(0);
    -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
    transform: translateY(0);
    transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
    -ms-transform: translateY(0);
}

div.bl-panel-items nav {
    position: absolute;
    z-index: 9999;
    width: 216px;
    left: 50%;
    top: 0px;
    margin-left: -108px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out 0.5s;
    -moz-transition: opacity 0.2s ease-in-out 0.5s;
    transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
    float: left;
    margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
    line-height: 2em;
    cursor: pointer;
    margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
    opacity: 1;
    top: -70px;
}

div.bl-panel-items>div.bl-show-work {
    z-index: 1000;
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    -moz-transform: translateY(-100%);
    -moz-transition: -moz-transform 0.5s ease-in-out;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    -ms-transform: translateY(-100%);
}

div.bl-panel-items>div.bl-hide-current-work {
    opacity: 0;
    -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -webkit-transform: translateY(-100%) scale(0.5);
    -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    -moz-transform: translateY(-100%) scale(0.5);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(-100%) scale(0.5);
    -ms-transform: translateY(-100%) scale(0.5);
    z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main>section {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.bl-main>section.bl-expand {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        position: relative;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px #ccc;
        border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(185, 185, 185);
        border-radius: 10px;
        cursor: pointer;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(136, 136, 136);
    }
}

.bl-main>section.bl-expand-top {
    z-index: 100;
    position: fixed;
}

.bl-main>section:first-child.bl-expand {
    background: #fff;
}

.bl-main>section:nth-child(2).bl-expand {
    background: #fff;
}

.bl-main>section:nth-child(3).bl-expand {
    background: #fff;
}

.bl-main>section:nth-child(4).bl-expand {
    background: #fff;
}

.bl-main.bl-expand-item>section:not(.bl-expand),
.bl-main.bl-expand-item>section.bl-scale-down {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}
.bl-expand-item {
    position: fixed;
    transform: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
}
.bl-box {
    -webkit-transition: opacity 0.2s linear 0.5s;
    -moz-transition: opacity 0.2s linear 0.5s;
    transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
    opacity: 0;
    -webkit-transition: opacity 0s linear;
    -moz-transition: opacity 0s linear;
    transition: opacity 0s linear;
}

.bl-box h2 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
    -webkit-transition: opacity 0.1s linear 0s;
    -moz-transition: opacity 0.1s linear 0s;
    transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
    pointer-events: auto;
    opacity: 1;

    -webkit-transition: opacity 0.3s linear 0.5s;
    -moz-transition: opacity 0.3s linear 0.5s;
    transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {

    .bl-content,
    .bl-box {
        font-size: 75%;
    }

    .bl-expand .bl-box {
        height: 130px;
    }

    .bl-content>ul li {
        width: 40%;
    }
}

.banners {
    height: 100vh;
    position: relative;
    @media screen and (max-width:766px) {
        height: 35vh;
    }
    &__img {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .heading-title {
        i {
            // position: absolute;
            // left: 0;
            // bottom: 0;
            // transform: translate(50%,-50%);
        }

        // margin-bottom: 16px;
        font-size: 36px;
        position: absolute;
        left: 0px;
        right: 0;
        bottom: 0px;
        color: #fff;
        text-align: center;
        height: 100px;
        background: linear-gradient(to top, rgba(0, 0, 0, .8), transparent);
        @media screen and (max-width:766px) {
            font-size: 20px;
        }
        h1 {
            padding-bottom: 16px;
            font-family: 'Bubblegum Sans', serif;
        }
    }

    .trin {
        animation-name: trin;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes trin {

        from {
            transform: rotate3d(0, 0, 1, 0deg);
        }

        20%,
        32%,
        44%,
        56%,
        68% {
            transform: rotate3d(0, 0, 1, 0deg);
        }

        23%,
        35%,
        47%,
        59%,
        71% {
            transform: rotate3d(0, 0, 1, 15deg);
        }

        26%,
        38%,
        50%,
        62%,
        74% {
            transform: rotate3d(0, 0, 1, 0deg);
        }

        29%,
        41%,
        53%,
        65%,
        77% {
            transform: rotate3d(0, 0, 1, -15deg);
        }

        80% {
            transform: rotate3d(0, 0, 1, 0deg);
        }

    }

}

.paragraph {
    padding: 32px 0;
    position: relative;
    .wrap-detik {
        position: relative;
        .tops{
            position: relative;
            z-index: 20;
        }
    }
    &__img {
        position: absolute;
        left: -172px;
        top: -72px;
        z-index: 1;
        // width: 320px;
        opacity: .3;
        height: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
}

.wrap-detik {
    width: 640px;
    margin: 0 auto;
    display: block;

    @media screen and (max-width: 766px) {
        width: auto;
        padding: 0 16px;
    }
}